
<ion-header>
	<div class="login-header  ion-padding">

		<img class="logo-img" src="assets/img/logo.png">
	</div>
</ion-header>

<ion-content >

  <div text-center>
    <h3 style="color: black">	        
    Iniciar Sesion</h3>  	  
    <br>
  </div>
  
    <ion-card-content >
      <ion-card style="width: 100%;position: relative;">
        <ion-item  shape="round">
          <ion-label position="floating">
            <ion-text>
              <h4>
                Mail
              </h4>
            </ion-text>

          </ion-label>
          <ion-input clear-input type='text' [(ngModel)]='email'></ion-input>
        </ion-item>

        <ion-item  shape="round">
          <ion-label position="floating">
            <ion-text>
              <h4>
                Password
              </h4>
            </ion-text>

          </ion-label>
          <ion-input clearInput type='password' [(ngModel)]='password'></ion-input>
        </ion-item>
      </ion-card>


        <ion-label>
          <ion-button expand="full" (click)='OnSubmitLogIn()' shape="round" color='primary'>
            Entrar
          </ion-button>
        </ion-label>

          <ion-label style="margin-top:16px">
            <ion-button expand="full" (click)='Registrarse()' shape="round" color='success'>
              Registrarme
            </ion-button>
          </ion-label>
      
        <ion-fab vertical="bottom" horizontal="start" >
            <ion-fab-button color="primary">
              <ion-icon name="arrow-dropup"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
              <ion-fab-button color="success">
                <h3 (click)="Rellenar('socio@comanda.com','123456')">Ad</h3>
              </ion-fab-button>
              <ion-fab-button color="dark">
                <h3 (click)='Rellenar("supervisor@comanda.com","123456")'>S</h3>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>

          <ion-fab vertical="bottom" horizontal="end" >
              <ion-fab-button color="success">
                <ion-icon name="arrow-dropup"></ion-icon>
              </ion-fab-button>
              <ion-fab-list side="top">
                
                <ion-fab-button color="warning">
                  <h3 (click)="loginAnonimo()">An</h3>
                </ion-fab-button>
                <ion-fab-button color="primary">
                  <h3 (click)='Rellenar("cliente@comanda.com","123456")'>C1</h3>
                </ion-fab-button>
                <ion-fab-button color="danger">
                    <h3 (click)='Rellenar("cliente2@cliente.com","123456")'>C2</h3>
                </ion-fab-button>
                
              </ion-fab-list>
            </ion-fab>

            <ion-fab vertical="bottom" horizontal="center" >
                <ion-fab-button>
                  <ion-icon name="arrow-dropup"></ion-icon>
                </ion-fab-button>
                <ion-fab-list side="top">
                  <ion-fab-button color="tertiary">
                    <h3 (click)='Rellenar("metre1@metre.com","123456")'>Me</h3>
                  </ion-fab-button>
                  <ion-fab-button color="medium">
                      <h3 (click)='Rellenar("perez@email.com","123456")'>Mo</h3>
                    </ion-fab-button>
                  <ion-fab-button color="secondary">
                    <h3 (click)='Rellenar("bartender@comanda.com","123456")'>B</h3>
                  </ion-fab-button>
                  <ion-fab-button color="success">
                      <h3 (click)='Rellenar("cocinero@comanda.com","123456")'>Co</h3>
                    </ion-fab-button>
                  <ion-fab-button color="warning">
                    <h3 (click)='Rellenar("delivery@email.com","123456")'>D</h3>
                  </ion-fab-button>
                  
                </ion-fab-list>
              </ion-fab>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
    </ion-card-content>


</ion-content>