


<ion-item>
  <ion-col>
    <ion-row>
      <ion-textarea placeholder="Ingrese su consulta aquí..." [(ngModel)]="this.consulta" ></ion-textarea>
    </ion-row>
    <ion-row style="display: flex;justify-content: flex-end;">
      
      <ion-button expand="block" color="danger" (click)="cancelar()" > <ion-icon name="close"></ion-icon></ion-button>
      <ion-button expand="block" color="success" (click)="enviar()" ><ion-icon name="send"></ion-icon></ion-button>
    </ion-row>
  </ion-col>
</ion-item>