<ion-header>
  <ion-toolbar>
    <ion-title>altaProducto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container >
    
    <ion-item>
      <ion-label position="floating">Nombre del producto</ion-label>
      <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción del producto</ion-label>
      <ion-textarea [(ngModel)]="descripcion"></ion-textarea>
    </ion-item>
   
     <ion-item>
       <ion-label position="floating">Número de mesa</ion-label>
       <ion-input type="number" [(ngModel)]="minutos"></ion-input>
     </ion-item>
 
      
 
     <ion-button  color="dark" size="small" (click)="escanear()">Escanear QR</ion-button>
 
     <ion-button color="dark" size="small" (click)="sacarFoto(1)">Toma una foto</ion-button>
     <ion-button color="dark" size="small" (click)="sacarFoto(2)">Toma segunda foto</ion-button>
     <ion-button color="dark" size="small" (click)="sacarFoto(3)">Toma tercera foto</ion-button>
     
     <ion-button (click)="subir()">Subir Producto</ion-button>
     
   </ng-container>
</ion-content>
