<ion-header>
  <ion-toolbar color="primary" >
    <ion-buttons slot="end">
      <ion-button color="tertiary" size="small">
          <!-- <img class="icon-img" src="assets/icon/logout.png"> -->
          <ion-icon name="log-out" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo-header">
     Cliente
    </ion-title>
    <ion-buttons slot="start">
      <ion-button color="tertiary" size="small">
        <ion-icon name="person" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-activatable">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="qr-scanner"></ion-icon>
    <h2>Escanear QR</h2>
  </ion-card>



  <ion-card class="ion-activatable">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="restaurant"></ion-icon>
    <h2>Realizar un Pedido</h2>
  </ion-card>

  <ion-card class="ion-activatable" >
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="person"></ion-icon>
    <h2>Consulta al Mozo</h2>
    </ion-card>
    

    <ion-card class="ion-activatable">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="checkbox-outline"></ion-icon>
      <h2>Encuesta</h2>
    </ion-card>

    <ion-card class="ion-activatable">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="logo-game-controller-b"></ion-icon>
      <h2>Jugar</h2>
      </ion-card>
      
      <ion-card class="ion-activatable">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="list" ></ion-icon>
      <h2>Pedir cuenta</h2>
      </ion-card>
</ion-content>