
<ion-header>

	<div *ngIf="cliente.estado=='desconectado' || cliente.estado == 'EnListaDeEspera' || cliente.estado == 'aceptado'"  class="login-header  ion-padding">

    <img class="logo-img" src="assets/img/logo.png">

  </div>
</ion-header>


<ion-content class="secondaryBackground ion-padding">
  <div *ngIf="cliente.estado=='desconectado'" style="height: 100%; display:flex; flex-direction:column;">
    <div class="titulo">
      <h1>Bienvenido</h1>
      <h3></h3>
      <p>Escanee el codigo QR para Ingresar a la lista de espera..</p>
    </div>
    <div style="display: flex;justify-content: center;">
      <ion-button class="boton" (click)="scanearEspera()">
        <ion-icon name="qr-code" class="qrCode"></ion-icon>        &nbsp; Escanear codigo QR         
      </ion-button>
    </div>
  </div>


    <div *ngIf="cliente.estado == 'EnListaDeEspera'">
      <ion-col >
        <ion-row style="justify-content:center; margin-top:35px" >
          <p class="spinnerInterceptor latido">Ya se encuentra en la lista de espera, podra ingresar al ser aprobado. </p>
        </ion-row>
        <ion-row style="justify-content: center; margin-top:125px;">
          <ion-spinner name="circles" class="ion-spinner-large" color="primary"></ion-spinner>
        </ion-row>
      </ion-col>
    </div>

 
      <div *ngIf="cliente.estado=='aceptado'" style="height: 100%; display:flex; flex-direction:column;">
        <div class="titulo">
          <h1>Bienvenido</h1>
          <h3></h3>
          <p>Escanee el codigo QR para Acceder a la mesa</p>
        </div>
        <div style="display: flex;justify-content: center;">
          <ion-button class="boton" (click)="scanearEspera()">
            <ion-icon name="qr-code" class="qrCode"></ion-icon>        &nbsp; Escanear codigo QR         
          </ion-button>
        </div>
      </div>
  


</ion-content>
