<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Metre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark"> 

  <br>
  <ion-list-header lines="inset" color="dark">
    <ion-label>LISTA DE ESPERA</ion-label>
  </ion-list-header>
<div *ngFor="let cliente of this.clientesEnEspera">
  <ion-item color="dark">
    <ion-label style="color:black" >{{cliente.nombre}} {{cliente.apellido}}</ion-label>
    <ion-button fill="outline" (click)="aceptarCliente(cliente)">ACEPTAR</ion-button>
  </ion-item>
</div>
<div *ngIf="clientesEnEspera.length === 0">
  <ion-item color="dark">
    <ion-label >Sin clientes en lista de espera.</ion-label>
  </ion-item>
</div>

<ion-button class="apagar" color="dark" (click)="salir()">
  <ion-icon name="power"></ion-icon>
</ion-button>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button color='dark' expand="full" (click)='this.AltaCliente()' >Alta Cliente</ion-button>
  </ion-toolbar>
</ion-footer>
