// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.height {
    &-10 {
      height: 10%;
    }
    &-20 {
      height: 20%;
    }
    &-30 {
      height: 30%;
    }
    &-33 {
      height: 33%;
    }
    &-40 {
      height: 40%;
    }
    &-50 {
      height: 50%;
    }
    &-60 {
      height: 60%;
    }
    &-70 {
      height: 70%;
    }
    &-80 {
      height: 80%;
    }
    &-90 {
      height: 90%;
    }
    &-100 {
      height: 100%;
    }
  }
  
  // Adjust width
  .width {
    &-10 {
      width: 10%;
    }
    &-20 {
      width: 20%;
    }
    &-30 {
      width: 30%;
    }
    &-33 {
      width: 33%;
    }
    &-40 {
      width: 40%;
    }
    &-50 {
      width: 50%;
    }
    &-60 {
      width: 60%;
    }
    &-70 {
      width: 70%;
    }
    &-80 {
      width: 80%;
    }
    &-90 {
      width: 90%;
    }
    &-100 {
      width: 100%;
    }
  }
  

  


.spinner-class {
    --background: #A599B5;
  
    .loading-wrapper {
      background-image: url("./assets/splash.png"), radial-gradient(circle, #A599B5 0%, #A599B5 100%);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      box-shadow: none;
      min-width: 100%;
      min-height: 100%;
      -webkit-box-shadow: none;
    }
  }


